body {
    background-color: rgb(153, 0, 255) !important;
}

form {
    width: 100%;
}

h1 {
    color: rgb(208, 255, 0);
    text-align: center;
}

.w450 {
    width: 450px !important;
}

.wider {
    width: 150px;
}

.bg-w {
    background-color: rgb(230,230,230);
}